@font-face {
    font-family: Ringbearer;
    src: url('../font/RINGM___.TTF');
}
@font-face{
    font-family: Aniron;
    src: url('../font/anicm___.ttf');
}
body{
    font-family: Aniron;
    margin:0px;
    padding: 0px;
    background-image: url('../images/normal.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    cursor: url(../images/cursor.png) ,pointer;
}
header{
    margin-top:0px;
    height: 100px;
    background-color: rgb(75,104,136);
}
h1{
    margin:10px;
    width: 550px;
    height: 50px;
    display: inline;
}
.logo{
    width: 18%;
    height: 60%;
    float:right;
    padding: 20px 10px;
}
ul#menu li, ul#menu ul.sub-menu li {
    list-style-type: none;
    display: inline-block;
    margin-top: 3px;
}
/*Link Appearance*/
ul#menu li a, ul#menu li ul.sub-menu li a {
    text-decoration: none;
    color: rgba(211,211,255,0.7);
    background: rgb(75,104,136);
    padding: 5px;
    display:block;
    cursor: url(../images/cursor.png) ,pointer;
}
/*Make the parent of sub-menu relative*/
ul#menu li {
    position: relative;
}
/*sub menu*/
ul#menu li ul.sub-menu {
    display:none;
    position: absolute;
    top: 30px;
    left: 0;
    width: 150px;
}
ul#menu li:hover ul.sub-menu {
    display:block;
}
img{
    width: 100%;
    height: 100%;
    margin-top:0;
}
img:hover{
    opacity: 0.7;
    cursor: pointer;
}
.nav-buttons {
    display: inline-block;
    width: 180px;
    font-size: 1em;
    background: rgb(75,104,136);
    color: rgba(211,211,255,0.7);
    text-shadow: 1px 1px 0 rgba(255,255,255,0.1);
    text-decoration: none;
    border: solid 1px rgba(20,20,20,1);
    border-radius: 10px;
    box-shadow: inset 1px 1px 1px rgba(255,255,255,0.05), inset 0 0 35px rgba(0,0,0,0.6), 0 5px 5px -4px rgba(0,0,0,0.8);
}

.nav-buttons:hover {
    color:#fff;
    border-color: rgb(255,155,0);
    background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(52, 74, 158)), to(rgba(75,104,136,0.5)));
}

.nav-buttons:active {
    position: relative;
    top: 10px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.4), inset 0 0 35px rgba(0,0,0,0.6), 0 1px 1px rgba(255,255,255,0.1), inset 0 6px 4px rgba(0,0,0,0.4);
}
.java{
    width: 800px;
    margin-top:70px;
    margin-left: 50px;
    margin-bottom:50px;
    padding: 50px;
    background: #EEEEEE;
    border: 1px solid black;
    opacity: 0.6;
    filter: alpha(opacity=60);
    color: black;
}
@media (max-width: 1190px){
    h1{
        width:250px;
        font-size: 1.5em;
    }
    .nav-buttons{
        width:140px;
        font-size: 0.8em;
    }
    .java{
        width:700px;
    }
}
@media(max-width: 920px){
    h1{
        width:200px;
        font-size:1.3em;
    }
    .nav-buttons{
        width:100px;
        font-size:0.5em;
    }
    .java{
        width:600px;
    }
}
@media(max-width:800px){
    h1{
        width:170px;
        font-size:1.1em;
    }
    .nav-buttons{
        width:80px;
        font-size:0.4em;
    }
    .java{
        width:500px;
    }
}
@media(max-width:695px){
    h1{
        width:140px;
        font-size:1em;
    }
    .nav-button{
        width:100px;
        font-size:0.6em;
    }
    .java{
        width:400px;
    }
}
@media(max-width:625px){
    h1{
        width:160px;
        font-size:1.1em;
    }
    .nav-button{
        width:140px;
        font-size:0.9em;
    }
    .java{
        width:400px;
    }
    .logo{
        display: none;
    }
}
