.eye {
    display: inline;
    background-color:white;
    border: 1px solid #000000;
    width: 22px;
    height: 22px;
    position: relative;
    top:229px;
    right: 235px;
    border-radius: 30px;
    float:right;


}

.eye span {
    display: block;
    width: 11px;
    height: 11px;

    position: relative;
    top: 5px;
    left: 0;
    border-radius: 30px;
    background: #1D0C05;

}

.eye2 {
    display: inline-block;
    background-color: white;
    border: 1px solid #000000;
    width: 22px;
    height: 22px;
    position: relative;
    top:240px;
    right: 162px;
    border-radius:30px;
    float:right;


}

.eye2 span {
    display: block;
    width: 11px;
    height: 11px;

    position: relative;
    top: 5px;
    left: 0;
    border-radius: 30px;
    background: #1D0C05;
}


@font-face {
    font-family: Ringbearer;
    src: url('font/RINGM___.TTF');
}
@font-face{
    font-family: Aniron;
    src: url('font/anicm___.ttf');
}
header,section,aside,footer{
    background: rgba(0, 0, 0, 0.4);
}
body{
    font-family: Aniron;
    background-repeat:repeat-y repeat-x;
    cursor: url(images/cursor.png) ,pointer;
}
header{
    margin-top:0;
    height: 100px;
    width: 100%;
    border:2px solid darkblue;
    border-radius:25px;
}
section{
    margin-top: 1%;
    width: 71%;
    max-height: 435px;
    height: 400px;
    display: inline-block;
    float:left;
    border: 2px solid darkblue;
    border-radius:25px;
}
section>object{
    padding: 5%;
    background-color:rgba(0,0,0,0);
}
section>object>div{
    color: white;
    position: absolute;
}

aside{
    margin:1% 0 1% 0 ;
    border:2px solid darkblue;
    border-radius:25px;
    float:right;
    width: 26%;
    max-height: 435px;
    height: 400px;
    display: inline-block;
    position: relative;
}

aside>div>img{
    position:absolute;
    width:350px;
    height:450px;

    display: inline-block;
    right: 0;
    top:0;
}
footer{
    border:2px solid darkblue;
    border-radius:25px;
    width: 100%;
    height:100px;
    display: inline-block;
}
.logo{
    display:block;
    height:65px; width:255px;
    float:right;
    padding: 15px 10px;
    -webkit-transition: opacity 0.3s linear;
}
.logo:hover{
    opacity: .5;
}
nav{
    display: block;
}
.nav-buttons {
    font-family: Aniron;
    display: inline-block;
    width: 135px;
    height: 45px;
    font-size: 0.8em;
    background: rgb(75,104,136);
    color: rgba(211,211,255,0.7);
    text-shadow: 1px 1px 0 rgba(255,255,255,0.1);
    text-decoration: none;
    border: solid 1px rgba(20,20,20,1);
    line-height:45px;
    text-align: center;
    outline:none;
    border-radius: 10px;
    box-shadow: inset 1px 1px 1px rgba(255,255,255,0.05), inset 0 0 35px rgba(0,0,0,1), 0 5px 5px -4px rgba(0,0,0,0.8);
}
h1{
    font-size: 1.8em;
    margin-left: 67px;
    color:#ffffff;
    display: inline-block;
    line-height: 62px;

}
#buttons{

    float:left;
    margin-top: 10px;
}
.nav-buttons:hover {
    color:#fff;
    border-color: rgb(255,155,0);
    background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(52, 74, 158)), to(rgba(75,104,136,0.5)));

}

.nav-buttons:active {
    position: relative;
    top: 10px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.4), inset 0 0 35px rgba(0,0,0,0.6), 0 1px 1px rgba(255,255,255,0.1), inset 0 6px 4px rgba(0,0,0,0.4);
}
ul#menu li, ul#menu ul.sub-menu li {
    list-style-type: none;
    display: inline-block;
}

#logos{
    margin: 20px;
}

@media (max-width: 1322px){
    h1{
        font-size: 1.3em;
        line-height: 70px;
    }
    aside>div>img{
        width:325px;
        height:425px;
    }

    .nav-buttons{
        width:140px;
        font-size: 0.8em;
    }
.eye{
    top:216px;
    right: 218px;
    width: 20px;
    height: 20px;
}

.eye2{
    top:227px;
    right: 150px;
    width: 21px;
    height: 21px;
}
}
@media(max-width: 920px){
    .nav-buttons{
        width:100px;
        font-size:0.5em;
    }
}
@media(max-width:800px){

    .nav-buttons{
        width:80px;
        font-size:0.4em;
    }
}
@media(max-width:695px){

    .nav-button {
        width: 100px;
        font-size: 0.6em;
    }
}
@media(max-width:625px) {

    .logo {
        display: block;
        height: 65px;
        width: 255px;
    }
}